/* ===== Variables ===== */
:root {
    --background: linear-gradient(75deg, #6a6a6a, #c0c0c0, #ffffff); /* Color de fondo suave */
    --header-color: #dc143c;
    --text-color: #333;
    --profile-bg-color: #fff;
}

/* ===== Estilos Generales ===== */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Asegurarse de que ambos contenedores compartan el mismo ancho */
.container,
.mapa {
    width: 80%;  /* Asegura el mismo ancho para ambas secciones */
    max-width: 100%;  /* No permite que exceda el 100% del ancho de la pantalla */
    margin: auto;
    padding: 20px;
}

/* ===== Header ===== */
.header {
    background-color: var(--header-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 72%;
    align-self: center;
}

/* ===== Estilos para las secciones ===== */
.lugar,
.profile {
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    background-color: var(--profile-bg-color); /* Fondo blanco en ambos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Bordes redondeados en ambos */
    transition: transform 0.3s;
}

.lugar:hover {
    transform: scale(1.02);
}

/* ===== Ocultar contenido por defecto ===== */
.content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.content.visible {
    opacity: 1;
    max-height: 1000px;
}

/* ===== Info Map Layout ===== */
.info-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.informacion,
.mapa {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.informacion {
    justify-content: space-between;
    margin-right: 10px;
}

.map-image {
    max-width: 100%;
    height: auto;
}
