/* ===== Colors ===== */
:root {
    --body-color: linear-gradient(75deg, #6a6a6a, #c0c0c0, #ffffff);
    --sidebar-color: #fff;
    --primary-color: #dc143c;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: var(--primary-color);
    text-align: center;
}

h3 {
    color: var(--primary-color);
}

/* Sección Nosotros */
.nosotros h1 {
    margin-bottom: 20px;
}

.nosotros p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1em;
}

.mision-vision {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.mision-vision div {
    width: 45%;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mision-vision h2 {
    margin-bottom: 10px;
}

.mision-vision p {
    font-size: 1.05em;
    color: var(--text-color);
}

.integrantes {
    text-align: center;
}

.integrante {
    margin-bottom: 30px;
}

.integrante p {
    font-size: 1em;
    color: var(--text-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 15px;
}
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .mision-vision {
        flex-direction: column;
        align-items: center;
    }

    .mision-vision div {
        width: 90%; /* Ajusta el ancho para que los bloques ocupen más espacio en pantallas pequeñas */
        margin-bottom: 20px; /* Añade un espacio entre los bloques */
    }

    .mision-vision div:last-child {
        margin-bottom: 0; /* Elimina el margen inferior del último bloque */
    }

    .integrante {
        text-align: left;
        padding: 10px;
    }

    h1, h2, h3 {
        font-size: 1.5rem; /* Reduce el tamaño de las cabeceras */
    }

    p {
        font-size: 0.9em; /* Reduce el tamaño de las fuentes */
    }
}
