/* ===== Variables ===== */
:root {
    --background: linear-gradient(75deg, #6a6a6a, #c0c0c0, #ffffff);; /* Color de fondo suave */
    --header-color: #dc143c;
    --text-color: #333;
}

/* ===== Estilos Generales ===== */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.header {
    background-color: var(--header-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--header-color);
    cursor: pointer;
}

h2:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
    color: var(--text-color);
}
@media (max-width: 768px) {
    .container {
        width: 95%; /* Expandir el contenedor para utilizar mejor el espacio en pantallas pequeñas */
        padding: 10px; /* Reducir el padding */
    }

    .header {
        padding: 8px 0; /* Reducir el padding superior e inferior */
        font-size: 24px; /* Disminuir el tamaño de la fuente */
    }

    .content {
        padding: 15px; /* Reducir el padding interno */
        border-radius: 5px; /* Bordes más suaves */
    }

    h2 {
        font-size: 18px; /* Reducir el tamaño de la fuente */
    }

    p {
        font-size: 14px; /* Reducir el tamaño de la fuente */
        margin: 8px 0; /* Reducir el margen entre párrafos */
    }
}
